.ant-btn-primary {
  background-color: #d44b22;
  border-color: #d44b22;
}

.ant-pagination-item-active {
  border-color: #d44b22 !important;
}

li.ant-pagination-item-active a {
  color: #d44b22 !important;
}

.ant-menu-item-selected {
  background-color: #d44b22 !important;
}

.ant-menu-item-selected span {
  color: white !important;
}

.ant-menu-item-active {
  color: #d44b22 !important;
}

.custom-row-hover:hover td {
  background: rgb(177, 37, 18);
}